* text=auto !eol
/apertium-la-en.la-en.dix -text
/apertium-la-en.la.acx -text
/apertium-la-en.la.dix -text
dev/freedict-en-la.dix -text
dev/freedict-la-en.dix -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
